doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='stylesheet' href='/../stylesheets/stylesession.css')
    
    body

        // LOGN IN FORM by Omar Dsoky
        form
            // con = Container  for items in the form
            .con
            // Start  header Content
            header.head-form
                h2 Cambio de contraseña
                // A welcome message or an explanation of the login form
                p hola revisa tu correo para las instrucciones para el cambio de contraseña
            
