doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='stylesheet' href='/../stylesheets/stylesession.css')
    link(rel='icon' type='image/x-icon' href='/assets/img/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
    
    body

        // LOGN IN FORM by Omar Dsoky
        form(action='/login' method='post')
            // con = Container  for items in the form
            .con
            // Start  header Content
            header.head-form
                h2 Log In
                // A welcome message or an explanation of the login form
                p login here using your username and password
            // End  header Content
            br
            .field-set
                if info && info.message
                    div.alert.alert-danger
                      =info.message
                // user name

                i.fa.fa-user-circle
                // user name Input
                input#txt-input.form-input(type='text' placeholder='username'  name='username') 
                br
                // Password

                i.fa.fa-key
                // Password Input
                input#pwd.form-input(type='password' placeholder='Password' name='password')
                // Show/hide password

                br
                // buttons
                // button LogIn
                button.log-in(type='submit')  Log In 
            // other buttons
            .other  
                // Forgot Password button
                a( href='/forgotpassword') Forgot Password
                // Sign Up button
                a( href='users/create' ) Sign Up

                // End Other the Division
                // End Conrainer
                // End Form
