doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='stylesheet' href='/../stylesheets/stylesession.css')
    
    body

        // LOGN IN FORM by Omar Dsoky
        form
            // con = Container  for items in the form
            .con
            // Start  header Content
            header.head-form
                h2 Forgot Password
                // A welcome message or an explanation of the login form
                p Por favor ingresa tu clave
            // End  header Content
            br
            .field-set
                // user name
                span.input-item
                i.fa.fa-user-circle
                // user name Input
                input#txt-input.form-input(type='text' placeholder='@email'  required='')
                br
                // Password
                span.input-item
                i.fa.fa-key
                // Password Input
                input#pwd.form-input(type='password' placeholder='Password' name='password' required='')
                // Show/hide password
                span
                i#eye.fa.fa-eye(aria-hidden='true' type='button')
                br
                // buttons
                // button LogIn
                button.log-in  Log In 
            // other buttons
            .other
                // Forgot Password button
                button.btn.submits.frgt-pass Forgot Password
                // Sign Up button
                button.btn.submits.sign-up Sign Up
                // Sign Up font icon
                i.fa.fa-user-plus(aria-hidden='true')
                // End Other the Division
                // End Conrainer
                // End Form
