extends ../layout  

block content
    br
    br
    h1 Nuevo Usuario
    br
    br

    form(action='/users/create' method='post')

            label(for='nombre') nombre: 
            input#nombre(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid': '')
            if errors.nombre
                small#nombreHelp.text-danger
                    =errors.nombre.message
            br
            label(for='email') email: 
            input#email(type='text' name='email' value=usuario.email class=errors.email ? 'is-invalid': '' )
            if errors.email
                small#emailHelp.text-danger
                    =errors.email.message
            br
            label(for='pwd') password: 
            input#pwd(type='password' name='password' value=usuario.password class=errors.password ? 'is-invalid': '')
            if errors.nombre
                small#nombreHelp.text-danger
                    =errors.nombre.message
            br
            label(for='confirm_pwd') confirmacion password: 
            input#confirm_pwd(type='password' name='confirm_password' value=usuario.confirm_password class=errors.confirm_password ? 'is-invalid': '')
            if errors.confirm_password
                small#confirm_passwordHelp.text-danger
                    =errors.confirm_password.message
            
            br
            br
            input.btn(type="submit" value='Agregar')

