extends ../layout  

block content
  a(href='users/create') NUEVO USUARIO
  br
  br    
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Nombre
        th(scope='col') Email
        th(scope='col') Verificacion
        th(scope='col')
        th(scope='col')
    tbody
      each usuario in usuarios
        tr 
          td(scope='row')
            =usuario.id
          td=usuario.nombre
          td=usuario.email
          td=usuario.verificacion ? 'SI':'NO'
          td
            a(href='users/'+usuario.id+'/update') EDITAR
          td
            form(method='post' action='/users/'+usuario.id+'/delete' )

              input#id(type='hidden' name='id' value=usuario.id)
              button.link-button(type='submit'  value='OK') Eliminar