extends ../layout  

block content
        a(href='/users') Volver

        br
        br
        h1 Actualizando Usuario
        br
        br
    
        form(action='/users/'+usuario.id+'/update' method='post')
           
            label(for='nombre') nombre: 
            input#nombre(type='text' name='nombre' value=usuario.nombre)
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
            br
            
            input.btn(type="submit" value='OK')

