extends ../layout  

block content
    h1 Nueva bicicleta
    br
    br

    form(action='/bicicletas/create' method='post')

            label(for='id') id: 
            input#id(type='text' name='id')
            br
            label(for='id') color: 
            input#color(type='text' name='color' )
            br
            label(for='id') modelo: 
            input#modelo(type='text' name='modelo' )
            br
            label(for='id') latitud: 
            input#lat(type='text' name='lat' )
            br
            label(for='id') longitud: 
            input#long(type='text' name='long')
            br
            br
            input.btn(type="submit" value='Agregar')



