extends ../layout  

block content
  a(href='bicicletas/create') NUEVA 
  table.table
    thead
      tr
        th(scope='col') id
        th(scope='col') color
        th(scope='col') modelo
        th(scope='col') ubicacion
    tbody
      each bici in bicis
        tr 
          td(scope='row')
            =bici.id
          td=bici.color
          td=bici.modelo
          td=bici.ubicacion
          td
            a(href='bicicletas/'+bici.id+'/update') EDITAR
          td
            form.inline(method='post' action="bicicletas/"+bici.id+'/delete' )
                imput(type='hidden' name='id' value=bici.id)
                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn') Eliminar