extends ../layout  

block content
        h1 Nueva bicicleta
        br
        br
    
        form(action='/bicicletas/'+bici.id+'/update' method='post')
           
            label(for='id') id: 
            input#id(type='text' name='id' value=bici.id)
            br
            label(for='id') color: 
            input#color(type='texxt' name='color' value=bici.color)
            br
            label(for='id') modelo: 
            input#modelo(type='text' name='modelo' value=bici.modelo)
            br
            label(for='id') latitud: 
            input#lat(type='text' name='lat' value=bici.ubicacion[0])
            br
            label(for='id') longitud: 
            input#long(type='text' name='long' value=bici.ubicacion[1])
            br
            br
            input.btn(type="submit" value='Agregar')

